html{
	height: 100%;
	/* <link rel="preconnect" href="https://fonts.gstatic.com"> */

}
* {
	padding: 0%;
	margin: 0%;
}

.login-bg-img {
	background: url("../public/img/paul-hanaoka-D-qq7W751vs-unsplash.jpg");
	background-size: cover;
	text-align: center;
	padding: 80px;
}

/* .img_size {
	margin-bottom: 30px;
	height: 100px;
	margin-left: 80px;
	margin-top: 250px;
	margin-bottom: 5px;
} */

.h1_hights {
	font-size: 55px;
	font-weight: bolder;
	margin: 0 0 0 20px;
	margin-bottom: 0px;
	color: white;
}

.h3_hights {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 250px;
	color: white;
}

/* .p_hights3 {
	font-size: 12px;
	text-align: center;
	margin-left: 10px;
	color: white;
} */

.btn {
	background-color: #5cb7ff;
	border: none;
	color: white;
	padding: 12px 50px;
	font-size: 16px;
	cursor: pointer;
	display: block;
	margin-left: -2px;
}

input {
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 14px;
}

.input-group {
	position: relative;
	margin-bottom: 30px;
	border-bottom: 2px solid #ccc;
}

.input--style-1 {
	padding: 10px 0;
	color: #666;
	margin-bottom: 15px;
}

#fastyle {
	font-size: 30px;
	width: 100px;
	text-decoration: none;
	padding: 15px 15px;
	/* padding: 37px 90px 9px 7px; */
}
#fastyle2 {
	font-size: 30px;
	width: 83px;
	text-decoration: none;
	padding: 15px 15px;
	height: 76px;

	/* padding: 37px 90px 9px 7px; */
}
#fastyle1 {
	font-size: 30px;
	width: 100px;
	text-decoration: none;
	padding: 15px 15px;
	padding: 37px 90px 9px 7px;
	color: black;
}
.svg-inline--fa.fa-w-10{
	width: 78px;
}
.facebook-facebook1 {
	background: #3b5998;
    color: white;
    border-radius: 5px;

    
    height: 74px;

}

.fa-instagram {
	padding: 20px 5px 9px 7px;
	color: black;
	border-radius: 5px;
	size: 25px;
	padding-right: 30px;
	background: #f09433;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-google1 {
	/* background: conic-gradient(
			from -45deg,
			#ea4335 110deg,
			#4285f4 90deg 180deg,
			#34a853 180deg 270deg,
			#fbbc05 270deg
		)
		73% 55%/150% 150% no-repeat; */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	padding: 20px 5px 9px 7px;
	color: black;
}

.main_logindiv {
	text-align: center;
}

.h1style {
	color: #6d7278;
	margin-top: 60px;
	margin-left: -265px;
	font-size: 25px;
	margin-bottom: -10px;
}

.h1mainstyle {
	font-weight: 700;
	font-size: 50px;
	margin-left: -350px;
	margin-top: 26px;
}
.h2mainstyle {
	margin-left: -120px;
	font-weight: 700;
	font-size: 50px;
	margin-top: 26px;
}
.form_style {
	margin: 41px 176px 84px 215px;
}

.form-check {
	margin-left: -404px;
	margin-bottom: 42px;
}

.btnsubmit {
	padding-right: 460px;
	background-color: #a2a4a7;
}

.form-check-label {
	margin-bottom: 0;
	font-weight: 700;
}

.anstyle {
	/* text-decoration: underline;
	margin-right: 420px;
	margin-top: 15px; */
	float: left;
	margin-top: 20px;
}

/* .needaccount {
	margin-right: 360px;
	margin-top: 104px;
} */

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
	margin-top: 12px;
}

@media (max-width: 768px) {
	.login-bg-img {
		/* background: url("./img/louis-tricot-rHk5uvsnCn4-unsplash.jpg"); */
		background-size: cover;
		text-align: center;
	}
	.h1mainstyle {
		font-weight: 700;
		font-size: 40px;
		margin-left: -50px;
		margin-top: 26px;
	}
	.btnsubmit {
		padding: 5px 12px 17px 265px;
	}
	input {
		outline: none;
		margin: 0;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		font-size: 14px;
	}
	.input-group {
		position: relative;
		margin-bottom: 58px;
		border-bottom: 2px solid #ccc;
	}
	.input--style-1 {
		padding: 10px 0;
		color: #666;
		margin-bottom: 15px;
	}
	.needaccount {
		margin-right: 0px;
		margin-top: 0px;
	}
}

/* logib */
.login-bg-img {
	background: url("../public/img/louis-tricot-rHk5uvsnCn4-unsplash.jpg");
	background-size: cover;
	text-align: center;
}

.img_size {
	margin-bottom: 30px;
	height: 100px;
	margin-left: 80px;
	margin-top: 200px;
	margin-bottom: 5px;
}

/* .h1_hights {
	font-size: 35px;
	margin-bottom: 0px;
	color: white;
}
 */
.h3_hights {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 250px;
	color: white;
}

.p_hights3 {
	font-size: 16px;
	margin-top: -30px;
	text-align: center;
	/* margin-left: 10px; */
	color: white;
}

.btn {
	background-color: #5cb7ff;
	border: none;
	color: white;
	padding: 12px 50px;
	font-size: 16px;
	cursor: pointer;
	display: block;
	margin-left: -2px;
}

input {
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 14px;
	margin-bottom: 20px;
}

.input-group {
	position: relative;
	margin-bottom: 30px;
	border-bottom: 2px solid #ccc;
}

.input--style-1 {
	padding: 10px 0;
	color: #666;
	margin-bottom: 15px;
}

/* #fastyle {
	font-size: 30px;
	width: 100px;
	text-decoration: none;
	padding: 15px 15px;
	padding: 0;
	padding: 20px 5px 9px 7px;
} */

.fa-facebook {
	background: #3b5998;
	color: white;
	border-radius: 5px;
	size: 25px;
	padding: 20px 5px 9px 7px;
}

.fa-instagram {
	padding: 20px 5px 9px 7px;
	color: white;
	border-radius: 5px;
	size: 25px;
	padding-right: 30px;
	background: #f09433;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-google {
	/* background: conic-gradient(
			from -45deg,
			#ea4335 110deg,
			#4285f4 90deg 180deg,
			#34a853 180deg 270deg,
			#fbbc05 270deg
		)
		73% 55%/150% 150% no-repeat; */
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	padding: 20px 5px 9px 7px;
}

.main_logindiv {
	text-align: center;
}

.h1style {
	color: #6d7278;
	margin-top: 60px;
	margin-left: -265px;
	font-size: 25px;
	margin-bottom: -10px;
}

/* .h1mainstyle {

	font-size: 50px;
    font-weight: 900;
} */

.form_style {
	margin: 41px 176px 84px 215px;
}

.form-check {
	margin-left: -404px;
	margin-bottom: 42px;
}

.btnsubmit {
	padding-right: 460px;
	background-color: #a2a4a7;
}

.form-check-label {
	margin-bottom: 0;
	font-weight: 700;
}

/* .anstyle {
	text-decoration: underline;
	margin-right: 420px;
	margin-top: 15px;
} */

/* .needaccount {
	margin-right: 360px;
	margin-top: 104px;
} */

/* 
recordings */

body {
	font-family: "Lato", sans-serif;
	background-color: #f7f7f7;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 10px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

svg.MuiSvgIcon-root.Arrowsidebar {
    position: absolute;
    left: 53px;
	top: 471px;
	position: fixed;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

body {
	background-color: #fff;
	padding: 20px;
	font-family: Lato;
}

.card-elegant {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	border: none;
	box-sizing: border-box;
}

.card-elegant .card-block {
	padding: 2rem 0 2.5rem 0;
}

.card-elegant .card-title {
	font-weight: bold;
	letter-spacing: 0.2rem;
	margin: 10px 0;
	font-size: 25px;
	color: black;
	margin-left: 10px;
}

.card-elegant .card-title small {
	color: black;
	display: inline-block;
	font-size: 25px;
	font-weight: 900;
	margin: -33px 624px 0 0;
	margin: -33px 0 0px 63px;
}

.card-elegant .card-text {
	border-bottom: 0.15rem solid #c7c7c5;
	color: #aaa7a0;
	font-size: 0.8rem;
	padding-bottom: 2.5rem;
	margin: 0 auto 2.4rem;
	max-width: 9.375rem;
}

.card-elegant .btn-link {
	color: #8b9185;
	font-size: 0.8rem;
	letter-spacing: 0.34rem;
	text-decoration: none;
}

.card-elegant .btn-link:hover,
.card-elegant .btn-link:focus {
	color: #666;
}

#cardlist {
	list-style: none;
	display: block;
	background-color: #e8f8ff;
}

.button {
	background-color: #e8f8ff;
	border: none;
	color: black;
	padding: 25px 130px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	margin-left: 63px;
	text-align: left;
}

.vl {
	border-left: 6px solid green;
	height: 90px;
	text-align: left !important;
}

.avatar1 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: blue;
}

.fa-info {
	background-color: red;
}

.noti {
	font-weight: bold;
	color: black;
}

.card2 {
	z-index: 1;
}

.nav1 {
	margin-top: 83px;
}

#atag {
	font-size: 15px;
}

small {
	margin: 0 0px 0px 90px;
}

.sidebar2 {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 290px;
	background-color: white;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	padding-top: 60px;
	display: none;
}

.sidebar2 a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.card-elegant .card-block1 {
	padding: 15px 0 2.5rem 0;
	margin-top: 51px;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height: 60px;
}

hr {
	border-top: 1px solid #007bff;
	width: 70%;
}

a {
	color: #000;
}

.card {
	background-color: #ffffff;
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
		0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.card:hover {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
	color: black;
}

address {
	margin-bottom: 0px;
}

#author a {
	color: #fff;
	text-decoration: none;
}

.card {
	font-size: 25px;
}

.card-img-top {
	margin: 0;
}

.card-img,
.card-img-bottom,
.card-img-top {
	margin: 0 !important;
}

.btn_flex {
	flex: auto;
}

.btn {
	text-align: center;
}

.row {
	margin: 0px !important;
}

.rec_search {
	margin: 9px 0 0 0;
	padding: 2px 0px 0 14px;
	width: 76%;
	height: 50px;
	background-color: lightblue;
	border-radius: 30px;
}

.rec_search {
    width: 76%;
    border-radius: 22px;
}

.btn-radius_30 {
	width: 10%;
	border-radius: 30px;
	margin: 0px 0px 0px 2%;
}

.btn_radius_0 {
	border-radius: 0px;
}
.col.coloumn-setting {
	max-width: 100% !important;
}
/* home */

/* box settings */
.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
	display: inline-block;
	width: 25%;
	height: 516px;

	
}


.card-img-top {
	width: 100% !important;
	height: 295px !important;
}
body {
	font-family: "Lato", sans-serif;
	background-color: #f7f7f7;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 10px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.error-cross1 {
	transform: translate(81%, -94%);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

body {
	background-color: #fff;
	padding: 20px;
	font-family: Lato;
}

.card-elegant {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	border: none;
	box-sizing: border-box;
}

.card-elegant .card-block {
	padding: 2rem 0 2.5rem 0;
}

.card-elegant .card-title {
	font-weight: bold;
	letter-spacing: 0.2rem;
	margin: 10px 0;
	font-size: 25px;
	color: black;
	margin-left: 10px;
}

.card-elegant .card-title small {
	color: black;
	display: inline-block;
	font-size: 25px;
	font-weight: 900;
	margin: -33px 624px 0 0;
	margin: -33px 0 0px 63px;
}

.card-elegant .card-text {
	border-bottom: 0.15rem solid #c7c7c5;
	color: #aaa7a0;
	font-size: 0.8rem;
	padding-bottom: 2.5rem;
	margin: 0 auto 2.4rem;
	max-width: 9.375rem;
}
text.textrecording {
    font-size: 17px;
}

.card-elegant .btn-link {
	color: #8b9185;
	font-size: 0.8rem;
	letter-spacing: 0.34rem;
	text-decoration: none;
}

.card-elegant .btn-link:hover,
.card-elegant .btn-link:focus {
	color: #666;
}

#cardlist {
	list-style: none;
	display: block;
	background-color: #e8f8ff;
}

/* 
.picture1 {
    margin-top: -370px;
} */

.button {
	background-color: #e8f8ff;
	border: none;
	color: black;
	padding: 25px 130px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	margin-left: 63px;
	text-align: left;
}

.vl {
	border-left: 6px solid green;
	height: 90px;
	text-align: left !important;
}

.avatar1 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: blue;
}

.fa-info {
	background-color: red;
}

.noti {
	font-weight: bold;
	color: black;
}

.card2 {
	z-index: 1;
}

img {
	margin: 5px 15px;
}

.nav1 {
	margin-top: 83px;
}

#atag {
	font-size: 15px;
}

small {
	margin: 0 0px 0px 90px;
}

.sidebar2 {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 290px;
	background-color: white;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	padding-top: 60px;
}

.sidebar2 a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.card-elegant .card-block1 {
	padding: 15px 0 2.5rem 0;
	margin-top: 51px;
}

.line {
	border-left: 6px solid red;
	height: 75px;
}

.media-body {
	background-color: #e8f8ff;
	margin: 12px 20px 20px 12px;
	border-radius: 10px;
	padding: 16px 16px 12px 25px;
}

.fa-info-circle {
	color: red;
}

.x {
	margin: 0 0px 0 415px;
}

#avatar1 {
	border: 5px solid #0081e3;
	width: 81px;
}

.sep {
	color: #979797;
	margin: 0 0 0 62px;
}

.actvitybox {
	background-color: aqua;
	margin-bottom: 10px;
}

.actvitybox {
	background-color: #e8f8ff;
	margin-bottom: 10px;
	border-radius: 10px;
}
/*Summary page*/
.panel {
	background: transparent;
	/* -webkit-box-shadow: none; */
	box-shadow: none;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
	margin-top: -7px;
}
.panel-body {
	background: #fdfdfd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}
.panel-body {
	padding: 15px;
	padding-bottom: 0px;
	margin-bottom: 43px;
}
.widget-summary {
	/* display: flex; */
	display: block;
	width: 100%;
}

.king {
	/* margin-bottom: 100px; */
}
/* a.text-muted.text-uppercase {
		margin-left: 71px;
	} */

.widget-summary:after {
	content: "";
	display: table;
	clear: both;
}
.widget-summary .widget-summary-col.widget-summary-col-icon {
	width: 1%;
	float: left;
}
.widget-summary .widget-summary-col {
	display: table-cell;
	vertical-align: top;
}

.widget-summary.widget-summary-xlg .summary-icon {
	width: 110px;
	height: 110px;
	line-height: 110px;
	/*  font-size: 48px; */
	font-size: 4.8rem;
}
section.content-body {
	background-color: #ebeff2;
	/* background-attachment: fixed;
    position: fixed;
    width: 100%;
	height: 100%;
	border: 30px solid #fff; */
}
section.content-body {
    overflow-x: hidden;
    margin: -22px 0 0 -18px;
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
	/* margin-top: 153px; */
}

button#desktop-notice {
	width: 100%;
	height: 100px;
}
.btn-primary.btn-setting {
	height: 42px !important;
}

/**notification page**/
.summary {
	/* display: -webkit-flex;
	color: black;
	font-weight: bold;
	margin-left: 90px; */
	color: black;
	font-weight: bold;
	margin-left: 19px;
}
.summaryies {
	margin-left: 79px;
}
.paneles {
	margin-top: 40px;
}
section.paneling.panel-featured-left.panel-featured-secondary {
	margin-top: 40px;
}
.btn-radius_31 {
	width: 48%;
	border-radius: 30px;
	margin-bottom: 20px !important;
	margin: 0px 0px 0px 2%;
	margin-left: -45px;
}
.summary-footer > a {
	display: block;
	/* margin-top: -14px; */
	/* margin-left: 24px; */
	position: relative;
	line-height: 2px;
	transform: translate(68px, -8px);
}
.summary-footer {
	display: inline-block;
	margin: 0 -36px 0 16px;
}

.MuiSvgIcon-root {
	fill: currentColor;
	width: 2em;
	height: 1em;
	display: inline-block;
	font-size: 4.5rem !important;
	transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	flex-shrink: 0;
	user-select: none;
}
/*  .panel-body {
	border-left: solid;
    color: red;
}  */

.panel-body.redclr {
	border-left: solid;
	color: red;
}
.error-cross {
	/* 	transform: translate(216%, -90%); */
	/* transform: translate(189%, -108%); */
	-webkit-transform: translate(-15%, -65%);
	color: black;
	position: relative;
	display: inline-block;
	left: 50%;
	/* float: right; */
}

.accountcard {
	border: 1px solid #dedede;
	background-color: #ffffff;
	height: 800px;
}

h4,
.h4 {
	display: inline-block;
	font-weight: bold;
	margin-top: 0px;
}
.accountprofile {
	border: 1px solid #dedede;
	margin: 0 0 0 55px;
	background-color: #ffffff;
}

hr {
	color: #f0f0f0;
}
.profilename {
	margin-top: 125px;
}

.avatar {
	vertical-align: middle;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 10px solid #1e82d2;
	margin: 0 0 0 119px;
}
.Nameprofile {
	font-size: 33px;
	margin: 0 0 0 69px;
}

.profileemail {
	font-size: 22px;
	margin-left: 117px;
}
hr.new5 {
	border: 1px solid #d7d7d7;
	margin-top: 0px;
	padding: 0 0 0 81px;
}

.profilebodycolour {
	background-color: #f1f0f0;
	height: 1050px;
	width: 100%;
}
.profiletital {
	font-weight: bold;
}

.hrheights {
	padding: 0 0 0 241px;
}

h4,
.h4 {
	display: inline-block;
	font-weight: bold;
	margin-top: 0px;
	font-size: 20px;
	line-height: 2;
}
.inputprofile {
	border: none;
	border-bottom: 1px solid black;
	line-height: 2px;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 5px;
}
.paswordtext {
	margin-top: 5px;
}

/* .btn:not(:disabled):not(.disabled) {
    margin: 0px;
    padding: 10px 156px 11px 180px;
} */

.checkbox-custom {
	position: relative;
	/* padding: 0 0 0 25px; */
	margin-bottom: 7px;
	margin-top: 0;
	float: left;
	font-size: 15px;
}
.checkbox-custom label {
	cursor: pointer;
	margin-bottom: 0;
	text-align: left;
	line-height: 1.2;
	margin-left: 10px;
}
.footer_icons1 {
	margin-top: 35%;
}

.row.footer-5 {
    margin-top: 130px !important;
}
/* .checkbox-custom input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 3px;
    margin: -6px 0 0 0;
    z-index: 2;
    cursor: pointer;
} */
.fa-facebook {
	background: #3b5998;
	color: white;
	border-radius: 5px;
	size: 25px;
	padding: 20px 5px 9px 7px;
}
.fa-instagram {
	padding: 20px 5px 9px 7px;
	color: white;
	border-radius: 5px;
	size: 25px;
	padding-right: 30px;
	background: #f09433;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#F09433', endColorstr='#BC1888', GradientType=1);
}
.svg-inline--fa.fa-w-16 {
    width: 4em;
}
.fa-google1 {
	background-color: conic-gradient(
			from -45deg,
			#ea4335 110deg,
			#4285f4 90deg 180deg,
			#34a853 180deg 270deg,
			#fbbc05 270deg
		)
		73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	/* padding: 20px 5px 9px 7px; */
	color: black;
	height: 65px;
}

.needaccount {
	float: LEFT;
	margin-top: 30px;
}
span.login_with {
	position: relative;
	left: 150%;
	font-size: 19px;
}

.error-crosss {
	transform: translate(47%, -117%);
	color: black;
}
.col-md-12.change {
	/*  max-width: 78% !important; */
	max-width: 85% !important;
	margin: 0 auto;
}
/* .table-responsive{
	width: 813px !important;
} */
/* .table{
	width: 806px !important;
} */
.table thead th {
	width: 800px;
}

/*********summary *****/
.summary.icon-set {
	display: block;
}
.summary-icon.bg-primary {
	display: inline-block;
	position: relative;
	left: 66%;
	height: 75px;
	transform: translate(11px, -88px);
}

.panel-body.box-size {
	/* padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 38px;
	height: 134px; */

	padding: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 134px;
	width: 50%;
	margin: 0 auto;
}
/* .error-cross.home {
	transform: translate(157%, -108%) !important;
} */

/* Widget - Profile Info */
.widget-profile-info {
	display: table;
	width: 100%;
}

.widget-profile-info .profile-picture {
	display: table-cell;
	vertical-align: middle;
	width: 1%;
}

.widget-profile-info .profile-picture img {
	display: block;
	width: 100px;
	height: 100px;
	margin-right: 15px;
	border: 4px solid #fff;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.widget-profile-info .profile-info {
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
}

.widget-profile-info .profile-info .profile-footer {
	padding: 5px 0 0;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	text-align: right;
}

.widget-profile-info .profile-info .profile-footer a {
	color: #fff;
	opacity: 0.6;
}
span.blue-line {
	border-left: 6px solid #7074dd;
	height: 95px;
	position: absolute;
	left: 1%;
    top: 62%;
}

header.panel-heading.bg-color {
	background-color: aliceblue;
	font-size: 20px;
}
section.panel.top-settings {
	margin-top: 40px;
}

section.content-body {
	overflow-x: hidden;
}
/* iframe {
    width: 415px;
} */
.H1Nonotification {
	font-weight: 900;
	font-size: 35px;
}
.P-Nonotifications {
	color: #9797af;
	margin: -7px 0 0 0px;
}
.imgNonotifications {
	text-align: center;
	height: 100px;
}
.divNonotifications {
	text-align: center;
	margin-top: "500px";
	margin: 150px 0 0 0;
}
.pNonotifications {
	color: #9797af;
}
.newNotifications {
	font-weight: 900;
}

.iframeallCameras {
	width: 556px;
	height: 279px;
	padding: 0 0 0 6px;
}
.H1viewall {
	font-weight: 900;
	font-size: 48px;
}
.Pviewall {
	color: #a39797;
	margin: -12px 0 23px 5px;
}

.arrowleft21{
	position: absolute;
    left: -49px;
    top: -349px;
	
}

p.card-text.cardtextrecording {
    font-size: 18px;
}

.makeStyles-content-17 {
    padding: 24px;
    flex-grow: 1;
    margin: -110px 0 0 -20px;
}

.makeStyles-content-20 {
    padding: 24px;
    flex-grow: 1;
    margin: -117px 0 0 -25px;
}

.driverbody{
	height: 155%;

}
@media only screen and (max-width: 600px) {
	.btn:not(:disabled):not(.disabled) {
		margin: 0px;
		margin-top: 30px;
		width: 100%;
		/* width: 50%; */ /*notifications button*/
		/* padding: 0;  */
	}
	/* .col-md-12.change {
		max-width: 100% !important;
		margin: 0 auto;
	} */
	.col-md-12.change {
		max-width: 100% !important;
	}
	.widget-profile-info .profile-picture img {
		margin-left: 40px;
	}

	.form_style {
		margin: 10px 25px 49px 36px;
	}
	.login-bg-img {
		padding: 0px;
	}
	.h3_hights {
		font-size: 10px;
		margin-top: 5px;
		margin-bottom: 50px;
		color: white;
	}
	.img_size {
		margin-bottom: 30px;
		height: 100px;
		margin-left: 20px;
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.h2mainstyle {
		margin-left: 0px;
		font-weight: 700;
		font-size: 40px;
		margin-top: 26px;
	}
	span.login_with {
		position: relative;
		left: 80%;
	}
	.mb-4,
	.my-4 {
		margin-bottom: 1.5rem !important;
		display: inline-block;
		width: 100%;
	}

	/*eror cloes  */
	.error-cross {
		/* transform: translate(216%, -90%); */
		position: absolute;
		/* top: 55%; */
		/* right: 0%; */
		/* -webkit-transform: translate(189%, -108%); */
		/* transform: translate(189%, -108%); */
		color: black;
		/* float: right; */
	}
	.panel-body.box-size {
		width: 100%;
	}
	.table {
		width: 100% !important;
	}
	.btn-radius_31 {
		width: 100%;
		border-radius: 30px;
		margin-bottom: 0px !important;
		margin: 0px 0px 0px 2%;
		margin-left: -45px;
	}
	.panel {
		margin-top: 28px;
	}

	/* .MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
} */
	.MuiSvgIcon-root {
		font-size: 3.5rem !important;
	}
	.summaryies > h4 {
		line-height: 22px;
	}
	.summary-footer > a {
		position: relative;
		line-height: 28px;
		-webkit-transform: translate(-2px, -3px);
	}
	.error-cross {
		/* transform: translate(304%, -228%); */
		transform: translate(425%, -70%);
		color: black;
		display: inline-block;
	}

	.table {
		line-height: 16px;
	}

	.rec_search {
		border-radius: 30px;
		width: 147%;
		height: 42px;
		background-color: lightblue;
	}
	.button.btn.btn-primary.btn-radius_30 {
		width: 37px;
		padding: 16px 118px 8px 48px;
	}
	.divNonotifications {
		text-align: center;
		margin-top: "500px";
		margin: 20px 0 0 0;
	}
	.iframeallCameras {
		width: 280px;
		height: 250px;
		padding: 0 0 0 6px;
	}
	.H1viewall {
		font-size: 35px;
	}
	button.mt-sm.mb-sm.btn.btn-Primay.profilebtn {
		padding: 11px 130px 8px 130px;
		margin-top: 15px;
	}
	.accountprofile {
		border: 1px solid #dedede;
		margin: 0 0 0 0px;
		background-color: #ffffff;
	}
	.Nameprofile {
		font-size: 29px;
		margin: 0 0 0 67px;
	}
	.profileH1 {
		font-size: 1.5rem;
		font-weight: 900;
		margin-bottom: -107px;
	}
	.avatar {
		vertical-align: middle;
		width: 139px;
		height: 150px;
		border-radius: 50%;
		border: 10px solid #1e82d2;
		margin: 0 0 0 76px;
	}
	.profileemail {
		font-size: 22px;
		margin-left: 83px;
	}
	.footer_icons {
		margin-top: 56%;
		margin-left: 0px;
	}
}



/* ///////////////////////////////////// */

.MuiListItemIcon-root {
	color: rgba(0, 0, 0, 0.54);
	display: inline-flex;
	min-width: 56px;
	font-size: 9px;
	flex-shrink: 0;
}
.MuiAvatar-root.MuiAvatar-circle {
	width: 74px;
	height: 94px;
	margin: 12px 0 0 0;
	border: 1px solid white;
}
.h1name {
	font-size: 19px;
	margin: 40px 0px 0px 6px;
	font-weight: 900;
}
text.emailtext {
	font-size: px;
	margin: 65px 0 0px -139px;
}
.MuiButtonBase-root.MuiListItem-root.ptag.MuiListItem-gutters.MuiListItem-button {
	font-size: 31px;
	margin: 5px 0px 22px 4px;
	font-weight: 100;
}
.arrowclass1 {
	margin: 250px 0 0 250px;
	text-decoration: none;
}
.MuiDrawer-root.MuiDrawer-docked.makeStyles-drawer-17.makeStyles-drawerClose-19
	.h1name {
	display: none;
}
.selectvehicle {
	font-size: 32px;
	font-weight: 900;
	margin: 215px 0 0 0px;
}
.MuiTypography-displayBlock {
	display: block;
	font-size: 26px;
	margin: 29px 0 0 54px;
}

/*****Modal*****/
.modal-header .close {
	width: 50px;
	height: 50px;
	background: red;
	border-radius: 50%;
}

button.close {
	width: 50px;
	height: 50px;
	background: red;
	border-radius: 50%;
}
.modal-header {
	border-bottom: 0px;
}
.modal-footer {
	border-top: 0px;
}
.modal-header .close {
	padding: 1rem 1rem;
	margin: 0rem 0rem -1rem auto;
}

button.account-btn {
	text-decoration: none;
	border: none;
	background: none;
	/* border-bottom: 1px solid; */
	font-size: 27px;
	display: block;
	/* padding: 12px 0 11px 308px; */
	text-align: left;
}

button.btn.btn-primary.btnsave {
	margin: 339px 0 0 250px;
	padding: 21px 215px 11px 215px;
}

h1.changename {
	font-size: 34px;
	font-weight: 900;
	margin-bottom: 66px;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#partitioned {
	padding-left: 15px;
	letter-spacing: 42px;
	border: 0;
	background-image: linear-gradient(
		to left,
		black 70%,
		rgba(255, 255, 255, 0) 0%
	);
	background-position: bottom;
	background-size: 50px 1px;
	background-repeat: repeat-x;
	background-position-x: 35px;
	width: 220px;
	min-width: 220px;
}

#divInner {
	left: 0;
	position: sticky;
}

#divOuter {
	width: 190px;
	position: relative;
	overflow: hidden;
	left: 28%;
}
.bg-clr {
	background: #3b5998;
	color: white;
	width: 100px;
	border-radius: 5px;
}
.makeStyles-content-3 {
    padding: 0px;
    margin-top: -80px;
    /* margin-right: 15px; */
    flex-grow: 1;
}

.makeStyles-drawerOpen-10 {
    margin-right: -410px;
    width: 378px;
    transition: width -76ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-right: -410px;
}
.icontextsidebar {
    font-size: 22px;
    font-weight: 600;
}

/* ReactModal__Content.ReactModal__Content--after-open {
	position: absolute;
    inset: 40px !important;
     border: 0px solid rgb(204, 204, 204) !important; 
    background: rgb(255, 255, 255);
    /* overflow: auto; 
    border-radius: 4px;
    outline: none;
	padding: 20px;
	overflow-y: hidden !important;
} */
/*  .ReactModal__Overlay.ReactModal__Overlay--after-open{
	inset: -55px !important;
	inset: 12px;
    width: 40%;
	left: 33%;
	


	
} 
 */

.ReactModal__Overlay.ReactModal__Overlay--after-open {
	position: fixed !important;
	/* inset: 0px; */
	inset: 257px;
	background-color: rgba(82, 82, 82, 0.75) !important;
}
.ReactModal__Content.ReactModal__Content--after-open {
	height: 350px;
	margin: 0 auto;
	/*  margin-top: -160px; */
	width: 40%;
	overflow-y: hidden !important;
	padding: 20px;
	border-radius: 4px;
	outline: none;
	border: 0px solid rgba(204, 204, 204, 0.438) !important;
	/*  border: 0px solid rgb(204, 204, 204) !important; */
	/*  background: rgb(255, 255, 255); */
	/* overflow: auto;*/
	position: absolute;
	overflow: auto;
	margin-top: 100px;
	background: none !important;
}
p.font-logout {
	font-size: small;
}

h1.changename {
	font-size: 34px;
	font-weight: 900;
	margin-bottom: 66px;
}

input.accountinput {
	border-bottom: 1px solid black;
	width: 100%;
	font-size: 40px;
}

button.btn.btn-primary.btnsave {
	margin: 205px 0 0 250px;
	padding: 21px 215px 11px 215px;
}

input.form-control.fa-search.searchinput.rec_search {
    width: 74%;
    border-radius: 29px;
}

h3.h3recording {
    font-size: 27px;
}
.recordingmain {
    margin: -16px 0 0 -31px;
}





@media screen and (min-width: 768px) and (max-width: 1300px) {
	.footer_icons {
		margin-top: 73%;
	}

	span.login_with {
		position: relative;
		left: 78%;
	}

	.h1mainstyle {
		margin-left: 0px;
	}
	.h2mainstyle {
		margin-left: 0px;
	}
	.panel-body.box-size {
		width: 80%;
	}
	.error-cross {
		transform: translate(125%, -108%);
	}

	.avatar {
		margin: 0 0 0 60px;
	}

	.Nameprofile {
		font-size: 33px;
		margin: 0 0 0 27px;
	}

	.profileemail {
		font-size: 22px;
		margin-left: 58px;
	}
}
