* {
	padding: 0%;
	margin: 0%;
}

.login-bg-img {
	background: url("../public/img/paul-hanaoka-D-qq7W751vs-unsplash.jpg");
	background-size: cover;
	text-align: center;
}

.img_size {
	margin-bottom: 30px;
	height: 100px;
	margin-left: 80px;
	margin-top: 250px;
	margin-bottom: 5px;
}

.h1_hights {
	font-size: 35px;
	margin-bottom: 0px;
	color: white;
}

.h3_hights {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 250px;
	color: white;
}

.p_hights3 {
	font-size: 12px;
	text-align: center;
	margin-left: 10px;
	color: white;
}

.btn {
	background-color: #5cb7ff;
	border: none;
	color: white;
	padding: 12px 50px;
	font-size: 16px;
	cursor: pointer;
	display: block;
	margin-left: -2px;
}

input {
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 14px;
}

.input-group {
	position: relative;
	margin-bottom: 30px;
	border-bottom: 2px solid #ccc;
}

.input--style-1 {
	padding: 10px 0;
	color: #666;
	margin-bottom: 15px;
}

#fastyle {
	font-size: 30px;
	width: 100px;
	text-decoration: none;
	padding: 15px 15px;
	padding: 0;
	padding: 20px 5px 9px 7px;
}

.fa-facebook {
	background: #3b5998;
	color: white;
	border-radius: 5px;
	size: 25px;
	padding: 20px 5px 9px 7px;
}

.fa-instagram {
	padding: 20px 5px 9px 7px;
	color: white;
	border-radius: 5px;
	size: 25px;
	padding-right: 30px;
	background: #f09433;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-google {
	background: conic-gradient(
			from -45deg,
			#ea4335 110deg,
			#4285f4 90deg 180deg,
			#34a853 180deg 270deg,
			#fbbc05 270deg
		)
		73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	padding: 20px 5px 9px 7px;
}

.main_logindiv {
	text-align: center;
}

.h1style {
	color: #6d7278;
	margin-top: 60px;
	margin-left: -265px;
	font-size: 25px;
	margin-bottom: -10px;
}

.h1mainstyle {
	font-weight: 700;
	font-size: 50px;
	margin-left: -350px;
	margin-top: 26px;
}

.form_style {
	margin: 41px 176px 84px 215px;
}

.form-check {
	margin-left: -404px;
	margin-bottom: 42px;
}

.btnsubmit {
	padding-right: 460px;
	background-color: #a2a4a7;
}

.form-check-label {
	margin-bottom: 0;
	font-weight: 700;
}

.anstyle {
	text-decoration: underline;
	margin-right: 420px;
	margin-top: 15px;
}

.needaccount {
	margin-right: 360px;
	margin-top: 104px;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
	margin-top: 67px;
}

@media (max-width: 768px) {
	.login-bg-img {
		/* background: url("./img/louis-tricot-rHk5uvsnCn4-unsplash.jpg"); */
		background-size: cover;
		text-align: center;
	}
	.h1mainstyle {
		font-weight: 700;
		font-size: 40px;
		margin-left: -50px;
		margin-top: 26px;
	}
	.btnsubmit {
		padding: 5px 12px 17px 265px;
	}
	input {
		outline: none;
		margin: 0;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		font-size: 14px;
	}
	.input-group {
		position: relative;
		margin-bottom: 30px;
		border-bottom: 2px solid #ccc;
	}
	.input--style-1 {
		padding: 10px 0;
		color: #666;
		margin-bottom: 15px;
	}
	.needaccount {
		margin-right: 0px;
		margin-top: 0px;
	}
}

/* logib */
.login-bg-img {
	background: url("../public/img/louis-tricot-rHk5uvsnCn4-unsplash.jpg");
	background-size: cover;
	text-align: center;
}

.img_size {
	margin-bottom: 30px;
	height: 100px;
	margin-left: 80px;
	margin-top: 250px;
	margin-bottom: 5px;
}

.h1_hights {
	font-size: 35px;
	margin-bottom: 0px;
	color: white;
}

.h3_hights {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 250px;
	color: white;
}

.p_hights3 {
	font-size: 12px;
	text-align: center;
	margin-left: 10px;
	color: white;
}

.btn {
	background-color: #5cb7ff;
	border: none;
	color: white;
	padding: 12px 50px;
	font-size: 16px;
	cursor: pointer;
	display: block;
	margin-left: -2px;
}

input {
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 14px;
}

.input-group {
	position: relative;
	margin-bottom: 30px;
	border-bottom: 2px solid #ccc;
}

.input--style-1 {
	padding: 10px 0;
	color: #666;
	margin-bottom: 15px;
}

#fastyle {
	font-size: 30px;
	width: 100px;
	text-decoration: none;
	padding: 15px 15px;
	padding: 0;
	padding: 20px 5px 9px 7px;
}

.fa-facebook {
	background: #3b5998;
	color: white;
	border-radius: 5px;
	size: 25px;
	padding: 20px 5px 9px 7px;
}

.fa-instagram {
	padding: 20px 5px 9px 7px;
	color: white;
	border-radius: 5px;
	size: 25px;
	padding-right: 30px;
	background: #f09433;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-google {
	background: conic-gradient(
			from -45deg,
			#ea4335 110deg,
			#4285f4 90deg 180deg,
			#34a853 180deg 270deg,
			#fbbc05 270deg
		)
		73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	padding: 20px 5px 9px 7px;
}

.main_logindiv {
	text-align: center;
}

.h1style {
	color: #6d7278;
	margin-top: 60px;
	margin-left: -265px;
	font-size: 25px;
	margin-bottom: -10px;
}

.h1mainstyle {
	font-weight: 700;
	font-size: 50px;
}

.form_style {
	margin: 41px 176px 84px 215px;
}

.form-check {
	margin-left: -404px;
	margin-bottom: 42px;
}

.btnsubmit {
	padding-right: 460px;
	background-color: #a2a4a7;
}

.form-check-label {
	margin-bottom: 0;
	font-weight: 700;
}

.anstyle {
	text-decoration: underline;
	margin-right: 420px;
	margin-top: 15px;
}

.needaccount {
	margin-right: 360px;
	margin-top: 104px;
}

/* 
recordings */

body {
	font-family: "Lato", sans-serif;
	background-color: #f7f7f7;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 10px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

body {
	background-color: #fff;
	padding: 20px;
	font-family: Lato;
}

.card-elegant {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	border: none;
	box-sizing: border-box;
}

.card-elegant .card-block {
	padding: 2rem 0 2.5rem 0;
}

.card-elegant .card-title {
	font-weight: bold;
	letter-spacing: 0.2rem;
	margin: 10px 0;
	font-size: 25px;
	color: black;
	margin-left: 10px;
}

.card-elegant .card-title small {
	color: black;
	display: inline-block;
	font-size: 25px;
	font-weight: 900;
	margin: -33px 624px 0 0;
	margin: -33px 0 0px 63px;
}

.card-elegant .card-text {
	border-bottom: 0.15rem solid #c7c7c5;
	color: #aaa7a0;
	font-size: 0.8rem;
	padding-bottom: 2.5rem;
	margin: 0 auto 2.4rem;
	max-width: 9.375rem;
}

.card-elegant .btn-link {
	color: #8b9185;
	font-size: 0.8rem;
	letter-spacing: 0.34rem;
	text-decoration: none;
}

.card-elegant .btn-link:hover,
.card-elegant .btn-link:focus {
	color: #666;
}

#cardlist {
	list-style: none;
	display: block;
	background-color: #e8f8ff;
}

.button {
	background-color: #e8f8ff;
	border: none;
	color: black;
	padding: 25px 130px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	margin-left: 63px;
	text-align: left;
}

.vl {
	border-left: 6px solid green;
	height: 90px;
	text-align: left !important;
}

.avatar1 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: blue;
}

.fa-info {
	background-color: red;
}

.noti {
	font-weight: bold;
	color: black;
}

.card2 {
	z-index: 1;
}

.nav1 {
	margin-top: 83px;
}

#atag {
	font-size: 15px;
}

small {
	margin: 0 0px 0px 90px;
}

.sidebar2 {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 290px;
	background-color: white;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	padding-top: 60px;
	display: none;
}

.sidebar2 a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.card-elegant .card-block1 {
	padding: 15px 0 2.5rem 0;
	margin-top: 51px;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height: 60px;
}

hr {
	border-top: 1px solid #007bff;
	width: 70%;
}

a {
	color: #000;
}

.card {
	background-color: #ffffff;
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
		0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.card:hover {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
	color: black;
}

address {
	margin-bottom: 0px;
}

#author a {
	color: #fff;
	text-decoration: none;
}

.card {
	font-size: 25px;
}

.card-img-top {
	margin: 0;
}

.card-img,
.card-img-bottom,
.card-img-top {
	margin: 0 !important;
}

.btn_flex {
	flex: auto;
}

.btn {
	text-align: center;
}

.row {
	margin: 0px !important;
}

.rec_search {
	border-radius: 30px;
	width: 76%;
	background-color: lightblue;
}

.btn-radius_30 {
	width: 10%;
	border-radius: 30px;
	margin: 0px 0px 0px 2%;
}

.btn_radius_0 {
	border-radius: 0px;
}
 .col.coloumn-setting {
    max-width: 25% !important;
} 
/* home */

/* box settings */
 .mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
    display: inline-block;
    width: 24%;
}
 
 .card-img-top {
    width: 318px !important;
    height: 191px !important;
}
body {
	font-family: "Lato", sans-serif;
	background-color: #f7f7f7;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 10px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

body {
	background-color: #fff;
	padding: 20px;
	font-family: Lato;
}

.card-elegant {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	border: none;
	box-sizing: border-box;
}

.card-elegant .card-block {
	padding: 2rem 0 2.5rem 0;
}

.card-elegant .card-title {
	font-weight: bold;
	letter-spacing: 0.2rem;
	margin: 10px 0;
	font-size: 25px;
	color: black;
	margin-left: 10px;
}

.card-elegant .card-title small {
	color: black;
	display: inline-block;
	font-size: 25px;
	font-weight: 900;
	margin: -33px 624px 0 0;
	margin: -33px 0 0px 63px;
}

.card-elegant .card-text {
	border-bottom: 0.15rem solid #c7c7c5;
	color: #aaa7a0;
	font-size: 0.8rem;
	padding-bottom: 2.5rem;
	margin: 0 auto 2.4rem;
	max-width: 9.375rem;
}

.card-elegant .btn-link {
	color: #8b9185;
	font-size: 0.8rem;
	letter-spacing: 0.34rem;
	text-decoration: none;
}

.card-elegant .btn-link:hover,
.card-elegant .btn-link:focus {
	color: #666;
}

#cardlist {
	list-style: none;
	display: block;
	background-color: #e8f8ff;
}

/* 
.picture1 {
    margin-top: -370px;
} */

.button {
	background-color: #e8f8ff;
	border: none;
	color: black;
	padding: 25px 130px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	margin-left: 63px;
	text-align: left;
}

.vl {
	border-left: 6px solid green;
	height: 90px;
	text-align: left !important;
}

.avatar1 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: blue;
}

.fa-info {
	background-color: red;
}

.noti {
	font-weight: bold;
	color: black;
}

.card2 {
	z-index: 1;
}

img {
	margin: 5px 15px;
}

.nav1 {
	margin-top: 83px;
}

#atag {
	font-size: 15px;
}

small {
	margin: 0 0px 0px 90px;
}

.sidebar2 {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 290px;
	background-color: white;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	padding-top: 60px;
}

.sidebar2 a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.card-elegant .card-block1 {
	padding: 15px 0 2.5rem 0;
	margin-top: 51px;
}

.line {
	border-left: 6px solid red;
	height: 75px;
}

.media-body {
	background-color: #e8f8ff;
	margin: 12px 20px 20px 12px;
	border-radius: 10px;
	padding: 16px 16px 12px 25px;
}

.fa-info-circle {
	color: red;
}

.x {
	margin: 0 0px 0 415px;
}

#avatar1 {
	border: 5px solid #0081e3;
}

.sep {
	color: #979797;
	margin: 0 0 0 62px;
}

.actvitybox {
	background-color: aqua;
	margin-bottom: 10px;
}

.actvitybox {
	background-color: #e8f8ff;
	margin-bottom: 10px;
	border-radius: 10px;
}
/*Summary page*/
.panel {
    background: transparent;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
	border: none;
	margin-bottom: 20px;
	border-radius: 4px;
}
.panel-body {
    background: #fdfdfd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.panel-body {
	padding: 15px;
	margin-bottom: 43PX;
}
.widget-summary {
    display: table;
    width: 100%;
}
.widget-summary:after {
    content: "";
    display: table;
    clear: both;
}
.widget-summary .widget-summary-col.widget-summary-col-icon {
    width: 1%;
}
.widget-summary .widget-summary-col {
    display: table-cell;
	vertical-align: top;
}

.widget-summary.widget-summary-xlg .summary-icon {
    width: 110px;
    height: 110px;
    line-height: 110px;
   /*  font-size: 48px; */
    font-size: 4.8rem;
}
section.content-body {
    BACKGROUND-COLOR: #EBEFF2;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-top: 25px;
}

button#desktop-notice {
    width: 100%;
}

.accountcard{

	border: 1px solid #dedede;
	background-color: #ffffff;
	height: 800px;
	

}

h4, .h4 {

	display: inline-block;
	font-weight: bold;
	margin-top: 0px;
}
.accountprofile{
	border: 1px solid #dedede;
	margin: 0 0 0 55px;
	background-color: #ffffff;
}

hr{
	color: #f0f0f0;
}
.profilename{
	margin-top: 125px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
	border: 10px solid #1e82d2;
	margin: 0 0 0 119px;
}
.Nameprofile{

	font-size: 33px;
    margin: 0 0 0 103px;
}

.profileemail{
	font-size: 22px;
    margin-left: 117px;

}
hr.new5 {
	border: 1px solid #d7d7d7;
	margin-top: 0px;
    padding: 0 0 0 81px;
  }

 .profilebodycolour{

	background-color: #f1f0f0;
	height: 1050px;
	width: 100%;
 }
 .profiletital{
	 font-weight: bold;
 }
 
 .hrheights{
	padding: 0 0 0 241px;
 }

 .btn:not(:disabled):not(.disabled) {

    margin: 248px 0 0px 314px;
    padding: 10px 156px 11px 180px;

 }

h4, .h4 {
    display: inline-block;
    font-weight: bold;
	margin-top: 0px;
	font-size: 20px;
    line-height: 2;
}
.inputprofile{

	border: none;
	border-bottom: 1px solid black;
	line-height: 2px;
	text-decoration: none;
	margin-right: 10px;
	margin-left:5px;
}
.paswordtext{

	margin-top:5px;
}

